/**
 * @file
 * CSS style definitions for salsa barometer/progress bar.
 */

.salsa-barometer-progress {
  background-color: #598EDE;
  position: absolute;
  height: 22px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.salsa-barometer {
  background-color: #C3C3C3;
  border: 1px solid #000;
  width: 30%;
  position: relative;
  height: 22px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.salsa-donation-goal {
  font-weight: bold;
  margin-bottom: 10px;
}

.salsa-barometer-label {
  position: absolute;
  height: 20px;
  z-index: 1;
  font-weight: bold;
  padding: 0px 0px 2px 10px;
}

.salsa-barometer-wrapper {
  margin-bottom: 1em;
}
